//Globales

$font-family-base: 'League Spartan', sans-serif;

$primary: #131826;

//Fin Globals

/* COLORES */ 

$color-black: #131826;
$color-grey: #757171;
$color-white: #f7f7f7;
$color-red: #ff0303;

$colors:(
    "color-black": #131826,
    "color-grey": #757171,
    "color-white": #f7f7f7,
    "color-red": #ff0303
);

/* FIN COLORES */ 

/* NAVBAR */ 

$navbar-brand-font-size: 2rem;

$navbar-nav-link-padding-x: 3.3rem;

//Menu hamburguesa
$navbar-dark-color: #f7f7f7;

/* FIN NAVBAR */ 

/* CARRUSEL */ 

//Botones 
$carousel-control-color: #f7f7f7;
$carousel-control-width: 10%;
$carousel-control-icon-width: 3rem;

//Indicador
$carousel-indicator-width: 80px;
$carousel-indicator-active-bg: #f7f7f7;
$card-border-radius: 1rem;

/* FIN CARRUSELS */ 

/* TARJETAS PRODUCTOS */ 

$card-border-color: $primary;
$card-border-width: 0.15rem;

/* FILTROS DE PRODUCTOS */

$dropdown-color: $primary;
$dropdown-bg: #f7f7f7;